@font-face{
    font-family: Calgiostro;
    src: url(../fonts/Cagliostro-Regular.ttf);
}
@font-face{
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf)
}
h1{    
    text-align: center;
    font-family: Calgiostro;
    font-size: 4vw;
    font-weight: bold;
    color: #F1AD88;
}
main section{    
    margin: auto;
    margin-bottom: 20vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.para_container{
    width: 60%;        
    font-family: Comfortaa;
    font-size: 1.5vw;
    color: #F1AD88;
}
.para_container p {    
    padding-right: 10%;
    padding-left: 10%;        
}
h2{
    border-bottom: inset 3px #F1AD88;
    font-size: 2.5vw;
    font-weight: 500;
}
.image_container{    
    width: 40%;    
}
.image_container img{    
    border: solid 3px #F1AD88;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#history{
    text-align: left;
}
#cuisine{
    text-align: right;
}
.image_container:last-child{
    height: 20vh;
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#getReviewsBtn{
    margin: auto;
    height: 45%;
    width: 80%;
    background-color: #FC766A;
    border: 1px solid #793937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;     
    font-family: 'Comfortaa';  
    font-weight: bold;              
    font-size: 1.6vw;         
    color: #793937;
}
#getReviewsBtn .hover{
    background-color: "#F1AD88";
    box-shadow: "none";
    border-radius: "10px";
    transition: 500ms;
}
.hidden{
    display: none;
}
