html{
    margin: auto;
    background-image: linear-gradient(#793937, #B24845);
    
}
body{
    margin: 0px;
    width: 100%;    
}
main{    
    margin-top: 16vh;    
}
footer .container{
    margin: 0px;
}
button{
    cursor: pointer;
}